<footer>
    <div class="footer_nombreBrand footer-item">
        <img src="assets/images/voley.png" alt="Logo MetaSport ">
        <h1>MetaSport</h1>
    </div>
    <div class="footer_copyright footer-item">
        <p>©Derechos reservados por la tienda MetaSport</p>
    </div>
    <div class="footer_redes footer-item">
        <span class="icon-footer icon-facebook2"></span>
        <span class="icon-footer icon-instagram"></span>
        <span class="icon-footer icon-twitter"></span>
    </div>
</footer>