<header>
    <!-- HEADER DE NAVEGACION -->
    <div class="header_nav">
        <!-- BOTON HOME -->
        <div class="header_nav_home">
            <a [routerLink]="['/']"><span class="icon-home"></span>HOME</a>
        </div>
        <div class="header_nav_opciones">
            <!-- BOTON INICIO SESION -->
            <div class="header_nav_opciones_inicio" *ngIf="!usuario">
                <a [routerLink]="['/login']" id="iniciar_sesion"><span class="icon-airplane"></span>INICIAR SESION</a>
            </div>
            <div class="header_nav_opciones_inicio" *ngIf="usuario">
                <a [routerLink]="['/usuario']"><span class="icon-user"></span>CUENTA</a>
            </div>
            <div class="header_nav_opciones_inicio" *ngIf="cerrarSesion && usuario">
                <a (click)="logOut()" [routerLink]="['/']" id="cerrar_sesion"><span class="icon-user"></span>CERRAR SESION</a>
            </div>
            <!-- BOTON MENU -->
            <div class="header_nav_opciones_menu">
                <span class="icon-menu" id="botonMenu" (click)="menu()"></span>
            </div>
        </div>
    </div>
    
    <!-- MENU -->
    <nav [ngClass]="{
        'ver': mostrar
    }">
        <a (click)="menu()" [routerLink]="['/']"><span class="icon-home"></span>Home</a>
        <a (click)="menu()" [routerLink]="['/carrito']"><span class="icon-cart"></span>Carrito</a>
        <a (click)="menu()" [routerLink]="['/preguntas']"><span class="icon-question"></span>Preguntas frecuentes</a>
    </nav>
</header>