<header>
    <!-- HEADER DE NAVEGACION -->
    <div class="header_nav">
        <!-- BOTON HOME -->
        <div class="header_nav_home">
            <a [routerLink]="['/']"><span class="icon-home"></span>HOME</a>
        </div>
        <div class="header_nav_opciones">
            <!-- BOTON INICIO SESION -->
            <div class="header_nav_opciones_inicio">
                <a href="login.html" id="iniciar_sesion"><span class="icon-airplane"></span>INICIAR SESION</a>
            </div>
            <!-- BOTON MENU -->
            <div class="header_nav_opciones_menu">
                <span class="icon-menu" id="botonMenu"></span>
            </div>
        </div>
    </div>
    <!-- HEADER NOMBRE DE EMPRESA CON LOGO -->
    <div class="header_nombreBrand">
        <img src="assets/images/voley.png" alt="Logo MetaSport ">
        <h1>MetaSport</h1>
    </div>
    <!-- MENU -->
    <nav>
        <a [routerLink]="['/']"><span class="icon-home"></span>Home</a>
        <a [routerLink]="['/carrito']"><span class="icon-cart"></span>Carrito</a>
        <a [routerLink]="['/preguntas']"><span class="icon-question"></span>Preguntas frecuentes</a>
    </nav>
</header>