<app-slider [size]="'small'"></app-slider>
<div class="main_container">
    <!-- CONTENEDOR IZQUIERDO CON LOS OBJETOS QUE METIDO EN EL CARRITO -->
    <div class="main_container_izquierda">
        
        <div *ngIf="!carrito || carrito.length==0">
            <h2 id="carrito_vacio">El carrito esta vacío actualmente</h2>
        </div>

        <div *ngIf="carrito">
            <div *ngFor="let producto of carrito">
                <div class="main_container_izquierda_articulo" >
                    <img src="assets/images/voley.png" alt="{{producto.nombre}}" *ngIf="!producto">
                    <img src="{{url+'get-image/'+producto.imagen}}" alt="{{producto.nombre}}" *ngIf="producto">
                    <h3 class="articulo_subtitulo">{{producto.nombre}}</h3>
                    <p class="articulo_cantidad">Cantidad: {{producto.cantidad}}</p>
                    <span class="icon-bin" (click)="eliminarProducto(producto)"></span>
                </div>
                <div class="linea"></div>
            </div>
            <!-- <div class="main_container_izquierda_articulo" >
                <img src="assets/images/voley.png" alt="">
                <h3 class="articulo_subtitulo">nombre</h3>
                <p class="articulo_cantidad">Cantidad:1</p>
                <span class="icon-bin"></span>
            </div>
            <div class="linea"></div> -->
            <!-- <div class="linea"></div>
            <div class="main_container_izquierda_articulo">
                <img src="assets/images/voley.png" alt="">
                <h3 class="articulo_subtitulo">Nombre</h3>
                <p class="articulo_cantidad">Cantidad:1</p>
                <span class="icon-bin"></span>
            </div>
            <div class="linea"></div>
            <div class="main_container_izquierda_articulo">
                <img src="assets/images/voley.png" alt="">
                <h3 class="articulo_subtitulo">Nombre</h3>
                <p class="articulo_cantidad">Cantidad: 1</p>
                <span class="icon-bin"></span>
            </div> -->
        </div>
        <!-- <div class="main_container_izquierda_comprar" (click)="finalizarCompra(carrito)"> -->
        <div class="main_container_izquierda_comprar" [routerLink]="['/form-compra']" *ngIf="carrito.length != 0">
            <p [ngClass]="{'btn-allowed': carrito.length == 0}">Realizar pedido</p>
        </div>
        <div class="main_container_izquierda_comprar" *ngIf="carrito.length == 0">
            <p [ngClass]="{'btn-allowed': carrito.length == 0}">Realizar pedido</p>
        </div>
    </div>
    <!-- CONTENEDOR DERECHO CON EL CARRITO -->
    <div class="main_container_derecha">
        <h2 class="main_container_derecha_titulo"><span class="icon-cart"></span>Carrito</h2>
        <div class="main_container_derecha_carrito">
            <p>Carrito</p>
            <p>{{precio | number: '1.0-2'}} €</p>
        </div>
    </div>
</div>
<div class="contenedor_informativo_logear" *ngIf="!currentUser">
    <div class="contenedor_informativo_logear_texto">
        <p>Lo sentimos, para poder acceder a esta pestaña debes iniciar sesión</p>
        <div class="contenedor_informativo_logear_texto_boton">
            <button type="button" [routerLink]="['/login/inicio']">Iniciar sesion</button>
        </div>
    </div>
</div>