<app-slider></app-slider>
<div class="main_container">
    <!-- CONTENEDOR IZQUIERDO CON LOS OBJETOS QUE METIDO EN EL CARRITO -->
    <div class="main_container_izquierda">
        
       <!--  <div class="main_container_izquierda_articulo">
            <img src="img/voley.png" alt="">
            <h3 class="articulo_subtitulo">Nombre</h3>
            <p class="articulo_cantidad">Cantidad:1</p>
            <span class="icon-bin"></span>
        </div>
        <div class="linea"></div>
        <div class="main_container_izquierda_articulo">
            <img src="img/voley.png" alt="">
            <h3 class="articulo_subtitulo">Nombre</h3>
            <p class="articulo_cantidad">Cantidad:1</p>
            <span class="icon-bin"></span>
        </div>
        <div class="linea"></div>
        <div class="main_container_izquierda_articulo">
            <img src="img/voley.png" alt="">
            <h3 class="articulo_subtitulo">Nombre</h3>
            <p class="articulo_cantidad">Cantidad: 1</p>
            <span class="icon-bin"></span>
        </div> -->
        <div class="main_container_izquierda_comprar">
            <p>Realizar pedido</p>
        </div>
    </div>
    <!-- CONTENEDOR DERECHO CON EL CARRITO -->
    <div class="main_container_derecha">
        <h2 class="main_container_derecha_titulo"><span class="icon-cart"></span>Carrito</h2>
        <div class="main_container_derecha_carrito">
            <p>Carrito</p>
            <!-- <p>€</p> -->
        </div>
    </div>
</div>