<div id="contenedor_administrarUsuario_tarjetas">
    <div class="tarjeta">
        <p class="tipoTarjeta">Visa</p>
        <p class="nombreTarjeta">nombreTitular</p>
        <p class="fechaTarjeta">fechaExpiracion</p>
        <p class="numeroTarjeta">numero</p>
    </div>
    <div class="tarjeta">
        <p class="tipoTarjeta">Visa</p>
        <p class="nombreTarjeta">nombreTitular</p>
        <p class="fechaTarjeta">fechaExpiracion</p>
        <p class="numeroTarjeta">numero</p>
    </div>
</div>