/* CONTAINER PADRE */
.main_container_total {
  background-color: var(--gris-claro);
  margin: 30px auto;
  width: 80%;
  display: flex;
  min-height: 507px;
  /* align-items: center; */
}
/* MENU IZQUIERDA CONSTANTE */
.main_container_izquierda {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
  /* border-right: 1px solid rgba(0,0,0,.5); */
  position: sticky;
  top: 20px;
  height: max-content;
}
.main_container_izquierda p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 50%;
  text-align: center;
  padding: 20px;
  margin: 0;
  cursor: pointer;
  font-size: 1.1rem;
}
.main_container_izquierda p:last-child {
  border-bottom: none;
}

/* MENU DERECHA CAMBIANTE */
.main_container_derecha {
  width: 70%;
  margin: 30px 0;
  padding-left: 3%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}
/* ADMINISTRAR CUENTA */
.main_container_derecha h3,
#contenedor_administrarUsuario h3 {
  text-align: center;
  font-size: 1.5rem;
}
.main_container_derecha p,
#contenedor_administrarUsuario p {
  font-size: 1.1rem;
  margin: 10px;
}
.main_container_derecha input[type="text"],
.main_container_derecha input[type="password"],
#contenedor_administrarUsuario input[type="text"],
#contenedor_administrarUsuario input[type="password"] {
  padding: 5px 10px;
  width: 50%;
  margin: 10px;
  border: 1px solid #000;
}
.main_container_derecha input[type="text"]:focus,
.main_container_derecha input[type="password"]:focus,
#contenedor_administrarUsuario input[type="text"]:focus,
#contenedor_administrarUsuario input[type="password"]:focus {
  outline: none;
}
.main_container_derecha input[type="text"]:nth-of-type(3),
.main_container_derecha input[type="password"]:last-of-type,
#contenedor_administrarUsuario input[type="text"]:nth-of-type(3),
#contenedor_administrarUsuario input[type="password"]:last-of-type {
  margin-bottom: 30px;
}
.linea {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 70%;
  margin: auto;
}
.linea2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 70%;
  margin: 30px auto;
}
#actualizarCuenta {
  background-color: var(--verde-oscuro);
  padding: 10px 20px;
  color: #ddd;
  border: none;
  box-shadow: 2px 2px 2px #000;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.4s, color 0.4s;
  margin-bottom: 20px;
}
#actualizarCuenta:hover {
  background-color: var(--verde);
  color: #fff;
}
#eliminarCuenta {
  background-color: var(--rojo-oscuro);
  padding: 10px 20px;
  color: #ddd;
  border: none;
  box-shadow: 2px 2px 2px #000;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.4s, color 0.4s;
}
#eliminarCuenta:hover {
  background-color: var(--rojo-oscuro-claro);
  color: #fff;
}
/* CONFIRMACION ELIMINAR */
.containerDatoExtra {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerEliminarInformacion {
  background-color: #fff;
  /* display: inline-block; */
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerEliminarInformacion p {
  margin-bottom: 50px;
}
.containerEliminarInformacion_botones {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.containerEliminarInformacion_botones button {
  background-color: var(--rojo-oscuro);
  padding: 10px 20px;
  color: #ddd;
  border: none;
  box-shadow: 2px 2px 2px #000;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.4s, color 0.4s;
}
.containerEliminarInformacion_botones button:hover {
  background-color: var(--rojo-oscuro-claro);
  color: #fff;
}
/* DIRECCIONES */
.botonAddDireccion {
  background-color: var(--rojo-oscuro);
  padding: 10px 20px;
  color: #ddd;
  border: none;
  box-shadow: 2px 2px 2px #000;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.4s, color 0.4s;
  margin: 30px 0;
}
.botonAddDireccion:hover {
  background-color: var(--rojo-oscuro-claro);
  color: #fff;
}
#nuevaDireccion {
  padding: 5px 10px;
  width: 50%;
  margin: 10px;
  border: 1px solid #000;
}
#nuevaDireccion:focus {
  outline: none;
}
.containerEliminarInformacion h3 {
  margin-top: 20px;
}

/* TARJETA */
.tarjeta {
  width: 30%;
  border-radius: 5px;
  padding: 20px;
  background-color: #6495ed;
  height: 190px;
  min-width: 293px;
}
.tipoTarjeta {
  font-size: 1.8rem !important;
  font-weight: 200;
  text-align: right;
  color: #ddd;
  margin: 0;
}
.nombreTarjeta {
  font-weight: 500;
  font-size: 1.7rem !important;
  color: #fff;
}
.fechaTarjeta {
  color: #ddd;
  font-size: 1.3rem !important;
}
.numeroTarjeta {
  color: #eee;
  font-size: 1.6rem !important;
  font-weight: 500;
}

/* PEDIDOS */
.pedidos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 20px;
}
.imagenPedido {
  width: 100px;
}
.nombrePedido {
  font-weight: 700;
}

@media screen and (max-width: 1400px) {
  .tarjeta {
    width: 40%;
  }
}

#contenedor_administrarUsuario {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contenedor_administrarUsuario_tarjetas {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 1426px) {
  #contenedor_administrarUsuario_tarjetas {
    flex-direction: column;
  }
  .tarjeta {
    margin: 20px;
  }

  .main_container_total {
    width: 90%;
  }
  .main_container_derecha {
    width: 70% !important;
  }

  .pedidos p {
    max-width: 280px;
  }
}

#contenedor_administrarUsuario form {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
}

#contenedor_administrarUsuario form label {
  margin: 10px;
}

.containerDirecciones {
  width: 67%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1438px) {
  .pedidos p {
    max-width: 200px;
  }
}
