<app-slider [size]="'small'"></app-slider>
<div class="main_container">
    <div class="main_container_izquierda">
        <div *ngFor="let pregunta of preguntas">
            <div class="main_container_izquierda_pregunta" (click)="verRespuesta($event)">
                <h3 class="pregunta_tipica">{{pregunta.pregunta}}</h3>
                <span class="icon-circle-down"></span>
            </div>
            <div class="main_container_izquierda_respuesta">
                <p>{{pregunta.respuesta}}</p>
            </div>
        </div>
    </div>
    <div class="main_container_derecha">
        <h3 class="pregunta_titulo">Dejanos tu pregunta</h3>
        <input type="text" name="correoPregunta" id="correoPregunta" placeholder="Correo" *ngIf="!usuario">
        <textarea name="pregunta" id="preguntaUsuario" cols="30" rows="10" placeholder="Pregunta..."></textarea>
        <button type="button" id="pregunta_enviar" (click)="enviarPregunta()">ENVIAR</button>
    </div>
</div>