<app-slider></app-slider>
<div class="main_container">
    <!-- CONTAINER IZQUIERDO CON LAS OPCIONES DE DEPORTE, TARJETAS Y EL FILTRO -->
    <div class="main_container_izquierda">
        <div class="main_container_izquierda_deportes">
            <a [routerLink]="['/futbol']" id="futbol" [routerLinkActive]="'deporteActive'">Futbol</a>
            <a [routerLink]="['/baloncesto']" id="baloncesto" [routerLinkActive]="'deporteActive'">Baloncesto</a>
            <a [routerLink]="['/voleibol']" id="voleibol" [routerLinkActive]="'deporteActive'">Voleibol</a>
            <a [routerLink]="['/running']" id="running" [routerLinkActive]="'deporteActive'">Running</a>
        </div>
        
        <router-outlet></router-outlet>
    </div>
    <!-- CONTENEDOR DERECHO CON EL CARRITO, BUSCAR Y LAS OPCIONES DE FILTRO -->
    <div class="main_container_derecha">
        <h2 class="main_container_derecha_titulo"><span class="icon-cart"></span>Carrito</h2>
        <div class="main_container_derecha_carrito" *ngIf="currentUser == 'usuario'">
            <p>Carrito</p>
            <!-- <p>{{getPrecio | number: '1.0-2'}} €</p> -->
            <p>{{precio | number: '1.0-2'}} €</p>
        </div>
        <div class="main_container_derecha_carrito" *ngIf="!currentUser">
            <p>Inicia sesión para acceder</p>
        </div>
        <div class="main_container_derecha_carrito" *ngIf="currentUser == 'admin'">
            <p>Eres administrador</p>
        </div>
        <!-- <div class="main_container_derecha_buscar"> -->
            <form (ngSubmit)="search()" class="main_container_derecha_buscar">
                <span class="icon-search"></span>
                <input type="text" name="buscar" id="buscar" placeholder="Buscar" [(ngModel)]="searchString">
            </form>
        <!-- </div> -->
        <div class="main_container_derecha_opciones">
            <h3 class="subtitulo_opciones_filtro">Marca</h3>
            <div class="main_container_derecha_opciones_marca">
                <div class="opciones_filtro" *ngFor="let marca of listaMarcas">
                    <input type="checkbox" name="marca[]" id="{{marca}}">
                    <label for="{{marca}}">{{marca}}</label>
                </div>
                <!-- <div class="opciones_filtro">
                    <input type="checkbox" name="marca[]" id="adidas">
                    <label for="adidas">Adidas</label>
                </div> -->
            </div>
            <div class="linea"></div>
            <h3 class="subtitulo_opciones_filtro">Tipo</h3>
            <div class="main_container_derecha_opciones_tipos">
                <div class="opciones_filtro" *ngFor="let tipo of listaTipos">
                    <input type="checkbox" name="tipo[]" id="{{tipo}}">
                    <label for="{{tipo}}">{{tipo}}</label>
                </div>
            <!-- <div class="opciones_filtro">
                <input type="checkbox" name="tipo[]" id="pantalon">
                <label for="pantalon">Pantalón</label>
            </div> -->
            </div>
            <!-- MIRAR PQ NO SE ME CENTRA -->
            <button type="button" id="buscar_filtro" (click)="filtrarData()">BUSCAR</button>
        </div>
    </div>
</div>