<div class="main_container_izquierda_tarjetas">
    <div class="card" *ngFor="let producto of productos" [routerLink]="['/producto', producto._id]">
        <img src="assets/images/voley.png" alt="" class="card_imagenes" *ngIf="!producto.imagen">
        <img src="{{url+'get-image/'+producto.imagen}}" alt="" class="card_imagenes" *ngIf="producto.imagen">
        <div class="card_informacion">
            <h3 class="card_informacion_titulo">{{producto.nombre}}</h3>
            <p class="card_informacion_texto">{{producto.descripcionCorta}}</p>
            <div class="card_informacion_precio">
                <h3>Precio</h3>
                <p>{{producto.precio}}</p>
            </div>
            <!-- <div class="card_informacion_carrito">
            <div class="card_informacion_carrito_cantidad">
                <button type="button" id="add">+</button>
                <input type="text" name="cantidad" id="cantidadTarjeta">
                <button type="button" id="remove">-</button>
            </div>
            <div class="card_informacion_add">
                <p>Añadir</p>
            </div>
        </div> -->
        </div>
    </div>
</div>