<div class="main_container_izquierda_filtro">
    <select name="filtro" id="filtro">
        <option value="0" id="filtroNormal" (click)="ordenar('normal')">Filtro</option>
        <option value="1" id="filtroMayor" (click)="ordenar('mas')">Precio : más caro primero</option>
        <option value="2" id="filtroMenor" (click)="ordenar('menos')">Precio: más barato primero</option>
    </select>
</div>
<div class="main_container_izquierda_tarjetas">
    <div class="card" *ngFor="let producto of productos">
        <img src="assets/images/voley.png" alt="" class="card_imagenes" *ngIf="!producto.imagen" [routerLink]="['/producto', producto._id]">
        <img src="{{url+'get-image/'+producto.imagen}}" alt="" class="card_imagenes" *ngIf="producto.imagen" [routerLink]="['/producto', producto._id]">
        <div class="card_informacion">
            <h3 class="card_informacion_titulo">{{producto.nombre}}</h3>
            <p class="card_informacion_texto">{{producto.descripcionCorta}}</p>
            <div class="card_informacion_precio">
                <h3>Precio</h3>
                <p>{{producto.precio}} €</p>
            </div>
            <div class="card_informacion_carrito" *ngIf="currentUser == 'usuario'">
                <div class="card_informacion_carrito_cantidad">
                    <button type="button" class="add" (click)="addCantidad($event)">+</button>
                    <input type="text" name="cantidad" class="cantidadTarjeta" value="1" id="cantidad{{producto._id}}">
                    <button type="button" class="remove" (click)="removeCantidad($event)">-</button>
                </div>
                <div class="card_informacion_add" (click)="addProducto(producto,$event)">
                    <p>Añadir</p>
                </div>
            </div>
        </div>
    </div>
</div>