<div class="container_derecha_informacion">
    <h2>
        <a [routerLink]="['/login/registro']" class="opciones_sesion" id="register">Register</a>
        or 
        <a [routerLink]="['/login/inicio']" class="opciones_sesion" id="login">Login</a></h2>
    <div class="container_derecha_informacion_login">
        <label for="user_name">Nombre de usuario</label>
        <input type="text" name="usuario" id="user_name" placeholder="Escribe tu nombre" class="input_datos">
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" placeholder="Escribe la contraseña" class="input_datos">
        <div class="container_derecha_informacion_boton">
            <button type="button" class="btn-login" (click)="iniciar()">LOGIN</button>
            <a [routerLink]="['/login/registro']" id="boton_sesion_contrario">No tengo cuenta</a>
        </div>
    </div>
</div>